@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 36% 14%;
    --foreground: 210 20% 94%;
    --card: 233 36% 20%;
    --card-foreground: 210 20% 98%;
    --popover: 233 36% 14%;
    --popover-foreground: 210 20% 98%;
    --primary: 250 84% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 233 36% 28%;
    --secondary-foreground: 210 20% 98%;
    --muted: 233 36% 28%;
    --muted-foreground: 210 10% 60%;
    --accent: 150 60% 40%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 36% 28%;
    --input: 233 36% 28%;
    --ring: 250 84% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 233 36% 17%;
    --sidebar-foreground: 210 20% 94%;
    --sidebar-primary: 250 84% 60%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 233 36% 28%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 233 36% 28%;
    --sidebar-ring: 250 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
